<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Simple HttpErrorPages | MIT License | https://github.com/AndiDittrich/HttpErrorPages -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <% if (title == "") { %>Error<% } %><%= title %>
    </title>
    <style type="text/css">
    <%- inlinecss %>
    </style>
</head>

<body>
    <div class="cover">
        <% if (title != "") { %>
            <h1><%= title %><% if (!hide_code) { %> <small>Error <%- code %></small><% } %></h1>
        <% } %>
        <% if (message != "") { %>
        <p class="lead">
            <%- message %>
        </p>
        <% } %>
        <% if (cf_token != ""){ %><%- cf_token %><% } %>
    </div>
    <% if (footer){ %><footer><p><%- footer %></p></footer><% } %>
    <script>
    var cfDebugEl, toggle_debugEl;

    (function() {
        var cfDebugEl = document.getElementsByClassName("cf-error-details")[0]
        var toggle_debugEl = document.getElementById("toggle_debug")
        toggle_debugEl.onclick = function () {
            if (cfDebugEl.style.display === "none" || cfDebugEl.style.display === "") {
                cfDebugEl.style.display = "inline-block";
            } else {
                cfDebugEl.style.display = "none";
            }
        }
    })();
    </script>
</body>
</html>
